@import "variables";
@import "generales";
@import "navBar";
@import "historyPage";
/* main */
.main-page {
  grid-area: main;
  min-height: 70vh;
}
.img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}
.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem 4rem;
  margin-bottom: 4rem;
}

.main-tittle {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .img-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* End of main */

/* History page */
.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 3rem;
}
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.about-title {
  font-size: 2rem;
}
.about-p {
  margin-bottom: 1rem;
}
.about-img {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}
.history-img {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .about-section {
    grid-template-columns: 1fr;
  }
}

/* end of history page */

/* Contact page */
.contact-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-left: 4vw;
}
.img-contact {
  margin-bottom: 3rem;
}
.title-contact {
  height: 5rem;
  width: 100%;
  margin-bottom: 2rem;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.btn {
  background-color: #066163;
}
@media screen and (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
  }
}
/* End of contact page */

/* Market page */
.card.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-tittle,
.market-tittles {
  height: 4rem;
  margin-top: 2rem;
  text-align: center;
}
.price-table {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* End of market page */
